/*      Global Styles 
---------------------------*/
html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: arial, sans-serif;
    color: rgb(34,34,34);
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    margin: 0;
}
a {
    display: inline-block;
    text-decoration: none;
    color: rgb(34,34,34);
    font-size: 13px;
}
a:hover {
    text-decoration: underline;
}
.link-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*      Navigation/Footer
---------------------------*/
nav, footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    padding: 0 15px;
}
nav a, footer a {
    margin: 5px;
    padding: 5px;
}
nav img {
    height: 15px;
    width: 15px;
}
nav button {
    background: rgb(66,133,244);
    color: white;
    font-weight: bold;
    height: 30px;
    width: 65px;
    border-radius: 3px;
    border: none;
}
nav button:active {
    background: rgb(19, 92, 209);
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: rgb(244,244,244);
    padding: 3px 15px;
    border-top: 1px solid rgb(224,224,224);
}
footer a {
    color: rgb(100,100,100);
}


/*      Main Search
---------------------------*/
main {
 margin-top: 50px;
}
main img {
    display: block;
    margin: 0 auto;
}
form {
    width: 800px;
    margin: 10 auto;
    text-align: center;
}
input {
    font-size: 1.2rem;
    width: 70%;
    height: 3rem;
    border-radius: 25px;
    border: 1px solid rgb(224,224,224);
}
form button {
    background: rgba(234,234,234,0.7);
    color: rgb(100,100,100);
    font-size: 0.9rem;
    padding: 10px 15px;
    margin: 30px 7px;
    border: none;
    border-radius: 5px;
}

